* {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#name {
    border: 0px;
    border-bottom: 1px solid #000;
    width: 100%;
    border-bottom: 2px solid grey;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
}


.h {
    padding-bottom: 150px;
}

.btn2 {
    background: #F50057;
    color: #fff;
    border: none;
    position: relative;
    height: 40px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 14px;
    padding: 0 5px;
    cursor: pointer;
    border-radius: 6px;
    transition: 800ms ease all;
    outline: none;
}

.btn2:hover {
    background: #fff;
    color: #F50057;
}

.btn2:before,
.btn2:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #F50057;
    transition: 400ms ease all;
}

.btn2:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.btn2:hover:before,
.btn2:hover:after {
    width: 100%;
    transition: 800ms ease all;
}